/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family:Arial, Helvetica, sans-serif;
}
/* 
code {
	
} 

i dont know what to do with code or where it is
*/

h1, h2, h3 {
font-style:bolder;
text-align: center;
}

h1 {
font-weight:900;
}

h2 {
font-weight:600;
margin-bottom:2rem;
}

h3 {
	font-weight:400;
	margin-bottom:1rem;
	font-style:italic;
}

header {
	text-align:center;
	margin-bottom:2rem;
}

main {
	padding: 1em 2em;
	letter-spacing: .012em;
	line-height:1.5;
}

p {
	margin-bottom:1rem;
}

#intro {
	border-bottom:1px solid black;
}

#how-does-it-work, #influence, #joke {
	border-bottom:1px solid black;
	padding-bottom: 1rem;
}