/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	padding: 1em 2em;
	letter-spacing: .012em;
	line-height:1.5;
}

code {
	
}

h1, h2, h3 {
font-style:italic;
}

h1 {
font-weight:900;
}

h2 {
font-weight:600;
}

h3 {
	font-weight:400;
	margin-bottom:1rem;
}

header {
	text-align:center;
	margin-bottom:2rem;
}

main {

}

p {
	margin-bottom:1rem;
}

#intro {

}

#how-does-it-work, #influence, #joke {

}